<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.75, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>새일로</title>
        <!-- 수정 Favicon 부분 삭제(필요없음)-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/styles.css') }}"  />
        <!--java script-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    </head>
       <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-styleBlue">
            <div class="container px-lg-5">
                <!--css 중장년 고용24 색상-->
                <a class="navbar-brand" href="/main">새일로</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--지역 워크넷을 새창으로 여는 링크 연결 -->
                        <li class="nav-item"><a class="nav-link" href="https://www.work.go.kr/empInfo/empInfoSrch/list/retriveWorkRegionEmpIntroList.do" target="_blank" title="새창">지역워크넷</a></li>
                        <!--중장년 워크넷을 새창으로 여는 링크 연결 -->
                        <li class="nav-item"><a class="nav-link" href="https://www.work.go.kr/senior/main/main.do" target="_blank" title="새창">중장년워크넷</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--upper bar-->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container px-lg-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link_grey" href="/personal" > 맞춤 일자리 </a></li>
                        <li class="nav-item"><a class="nav-link_grey" href="/category" > 유형별 일자리 </a></li>  <!--유형별 일자리로 수정-->
                        <li class="nav-item"><a class="nav-link_grey" href="/region"> 지역 일자리 </a></li>
                        <li class="nav-item"><a class="nav-link_grey" href="/full" > 전체 일자리 </a></li>
                        <li class="nav-item"><a class="nav-link_grey" href="" > 고용 도움 프로그램 </a></li>
                        <li class="nav-item"><a class="nav-link_grey" href="" > 공지사항 </a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section>
            <div class="container px-lg-5">
                <div id="contents">
                    <!-- Main-->
                    <div class="py-5">
                        <div class="container px-lg-5">
                            <!--css card body 색상-->
                            <div class="p-4 p-lg-4 bg-styleBlue_light_select rounded-3 text-center">
                                <div class="m-4 m-lg-5">
                                    <form class="form-check" action="/category" method="get">
                                    <!-- 폼 -->
                                        <h1 class="display-5 fw-bold">유형별 일자리 추천</h1> <!--유형별 일자리로 수정-->
                                        <br><br>
                                        <div class="btn-container">
                                            <input type="submit" class="btn btn-primary fw-bold" name="value" value="조리">
                                            <input type="submit" class="btn btn-primary fw-bold" name="value" value="요양">
                                            <input type="submit" class="btn btn-primary fw-bold" name="value" value="경비">
                                            <input type="submit" class="btn btn-primary fw-bold" name="value" value="미화">  <!--미화 버튼 추가-->
                                            <input type="submit" class="btn btn-primary fw-bold" name="value" value="기타">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br><br><br>

                            <!-- 결과를 여기에 표시할 div -->
                            <div id="resultBox" class="table-wrap">
                                <table class="board-list">
                                    <colgroup>
                                        <col style="width:1.5em;margin:0.4em;">
                                        <col style="width:18em;margin:1.5em;">
                                        <col style="width:7em;margin:1.5em;">
                                        <col style="width:4.5em;margin:1.5em;">
                                        <col style="width:4em;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center;"></th>
                                            <th scope="col" style="text-align: center;">채용공고명/담당업무</th>
                                            <th scope="col" style="text-align: center;">지역</th>
                                            <th scope="col" style="text-align: center;">근무조건</th>
                                            <th scope="col" style="text-align: center;">마감일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                            <tr id ="list{{ loop.index }}">
                                                <td>{{row.job_index}}</td>
                                                <td >
                                                    <a href="" onclick="try { latte.getEvent(event).stop(); } catch (ex) {}; NetFunnel_Action({action_id:'EmpInfoDetail'}, function(ev,ret){ window.open('/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CSI&amp;iorgGbcd=CSI&amp;callPage=detail&amp;wantedAuthNo=48520360&amp;rtnTarget=list1&amp;pageIndex=1&amp;rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&amp;regionArr=[Ljava.lang.String;@57a3bd0c&amp;pageSize=10&amp;firstIndex=1&amp;lastIndex=1&amp;recordCountPerPage=10&amp;siteClcd=all&amp;benefitSrchAndOr=O&amp;areaRegion=11000&amp;areaArc=1&amp;codeDepth1Info=11000&amp;codeDepth2Info=11000&amp;srchJobNum=0&amp;empTpGbcd=1&amp;sortField=DATE&amp;sortOrderBy=DESC&amp;resultCnt=10&amp;&amp;onlyTitleSrchYn=N', 'empDtlType'); }); $(this).css('color', '#8390B6'); return false;">
                                                        {{row.job_title}}
                                                    </a>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>{{row.job_region}}</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span style="padding=0;">{{row.job_worktype}}<br></span><!--주 몇일 근무인지로 변경해야함  -->
                                                    <span style="padding=0;">{{row.formatted_pay}}</span> <!--임금으로 변경해야함  -->
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>{{ row.formatted_deadline }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이징 위한 html-->
                            <div class="pagination">
                                {% if has_prev %}
                                    <a href="{{ url_for('category_page', page=page - 1) }}">앞으로</a>
                                {% endif %}
                                {% for page_num in page_numbers %}
                                    {% if page_num == page %}
                                        <strong>{{ page_num }}</strong>
                                    {% else %}
                                        <a href="{{ url_for('category_page', page=page_num) }}">{{ page_num }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if has_next %}
                                    <a href="{{ url_for('category_page', page=page + 1) }}">뒤로</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 채단비&박민정</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
